* {
    font-family: "Comfortaa", sans-serif;
    user-select: none;
}

.on-top-of-everyone {
    position: absolute;
    z-index: 3;
}

.kaboom {
    position: absolute;
    z-index: 3;
}

.flying-card:hover {
    background: rgba(255, 255, 255, 0.2);
}

.flying-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: background 100ms ease;
    text-align: center;
    text-wrap: nowrap;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 25px;
}

.flying-card i {
    font-size: 3em;
}

@media (max-width: 480px) {
    .flying-card {
        font-size: 1rem;
        padding: 15px;
    }

    .flying-card i {
        font-size: 2em;
    }
}

.debug-info {
    margin-bottom: 0 !important;
    align-items: flex-start;
    justify-content: left;
    position: absolute;
    bottom: 12px;
    left: 20px;
    z-index: 4;
}

.control-buttons {
    margin-bottom: 0 !important;
    align-items: flex-start;
    justify-content: left;
    position: absolute;
    bottom: 12px;
    right: 20px;
    z-index: 4;
}

.control-buttons i {
    font-size: 1.5em;
}
